<div class="container">
    <div class ="row">
        <div class ="col text-center">
            <img src="./img/Pas photo_.jpg" alt="Eric Hansdeka" class = "img-thumbnail
            rounded-circle" width="200" />
            <h1 class = "display-4"> ERIC Hansdeka SIahaan</h1>
            <p class="lead">Lecturer | Content-creator</p>
        </div>
    </div>
</div>


    

   
    



